# Don't track documents and outputs #
# We can't easily view diffs on them, so it wouldn't be super useful #
# We track the code that generates them, so we don't need them #
########################################################
**.docx
**.pdf
**.pptx
**.tex
**.png
**.jpg

# Don't track the data - it's confidential and huge! #
######################################################
**.rds
**.RData
**.RDataTmp
**.Rcache
**.sscore
**.xls

# Ignore the renv directories #
##############################
**/renv/library/
**/renv/python/
**/renv/staging/

# Ignore the R project stuff #
##############################
**.Rproj.user
.Rhistory
.Rproj.user

# Ignore archived stuff #
##############################
**/archive/

# Ignore R Markdown chunk caches #
##################################
Scripts/Stats_Analysis/RMarkdown/**_Cache/