# Documents and outputs probably aren't worth tracking #
########################################################
**.docx
**.pdf
**.html
**.pptx
**.tex

# Don't track the data - it's confidential and huge! #
**.rds
**.RData
**.RDataTmp

# But track the markdown style file, in case ever break it! #
!RMarkdownStyle.docx
!RMarkdownLandscape.docx

# No longer using databases, so don't waste space tracking these #
**.db

# Note excel and csv could be important mapping tables, so worth tracking these! #
# Except this one which is data#
ICD10.csv

# Note .png and .jpg files would be a faff to recreate, so I guess track these? #


# Some directories don't contain any code #
###########################################
Admin/
Refs/
Stats Email/
Study Dissemination/
Z Misc/
.Rproj.user

# Ignore the renv directories#
##############################
**/renv/library/
**/renv/python/
**/renv/staging/